.product-card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
    text-align: center;
}

.card{
    margin: 50px;
 }

 .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white ;
    background-color: rgb(7, 225, 153);
 text-align: center;
}