.product-cart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px;
    background-color: rgba(219, 210, 210, 0.171);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0;
}

.card h4 {
    color: rgb(7, 225, 153);
}

.card button {
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    background-color: rgba(20, 178, 75, 0.771);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: rgb(7, 109, 195);
}