.nav-container {
    position:static;
    top: 0;
    margin: 0px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(242, 239, 22);
    padding: 0 20px;
   
}

.navbar-logo {
    margin-left: 15px;
    color: rgb(14, 13, 13);
    cursor: pointer;
}

.seeCarrito {
    font-size: 24px;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
}
