.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgb(242, 239, 22);
}
.navbar-logo{
    justify-self: start;
    margin-left: 15px;
    color: rgb(14, 13, 13);
    margin-top: 4vh;
    cursor:auto;
    
}
.seecarrito{
    font-size: 40px;
    margin-right: 30px;
    margin-top: 20vh;
    cursor: pointer;
    text-decoration: none;
    }
